{
  BasedOnStyle: LLVM,
  UseTab: ForIndentation,
  IndentWidth: 4,
  BreakBeforeBraces: Linux,
  AllowShortFunctionsOnASingleLine: Empty,
  IndentCaseLabels: false,
  NamespaceIndentation: All,
  BreakConstructorInitializers: AfterColon,
  AlwaysBreakTemplateDeclarations: Yes,
  SpacesInAngles: true,
}
