*
!.clang-format
!.editorconfig
!.github
!.github/
!.github/**
!.gitignore
!.gitkeep
!Makefile
!README.md
!**/
!*.cpp
!*.hpp


# tests
destructor.c
!auto_test.sh
.google_test
!docker-compose.yml
!test.sh
!telnet.sh
!lazy_file_printer.py
!hello_world.html
!test/
!test/volume
!test/volume/*.html
!test/request/*
!test/response/*
!test/request/MUST/*
!test/request/SHOULD/*

## google test
gtest/googletest
