*
!.clang-format
!.editorconfig
!.github
!.github/
!.github/**
!.gitignore
!.gitkeep
!Makefile
!*.mk
!README.md
!**/
!*.cpp
!*.hpp
!*.go
!client.c
!print_newer.py
!config.abnf

# tests
destructor.c
!auto_test.sh
.google_test
!docker-compose.yml
!test.sh
!telnet.sh
!lazy_file_printer.py
!hello_world.html
!test/
!test/volume
!test/volume/*.html
!test/request/**
!test/cgi-bin/**
!*.conf
!*.php
!Dockerfile

## google test
gtest/googletest
old/*